* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pokemon-list {
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 2vh;
  flex-wrap: wrap;
}

.buttons{
  display: block;
  /* border: 1px solid black; */
  text-align: center;
  margin: 20px;
}
.btn{
margin: 0px 2px;
}